<!DOCTYPE html>
<html class='no-js'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>BK Cookery</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='Free HTML5 Template by FREEHTML5.CO' />
    <meta name='keywords' content='free html5, free template, free bootstrap, html5, css3, mobile first, responsive' />
    <meta name='author' content='FREEHTML5.CO' />
    <meta property='og:title' content=''/>
    <meta property='og:image' content=''/>
    <meta property='og:url' content=''/>
    <meta property='og:site_name' content=''/>
    <meta property='og:description' content=''/>
    <meta name='twitter:title' content='' />
    <meta name='twitter:image' content='' />
    <meta name='twitter:url' content='' />
    <meta name='twitter:card' content='' />
    <link rel='shortcut icon' href='favicon.ico'>

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' href='lib/css/animate.css'>
    <link rel='stylesheet' href='lib/css/icomoon.css'>
    <link rel='stylesheet' href='lib/css/simple-line-icons.css'>
    <link rel='stylesheet' href='lib/css/bootstrap-datetimepicker.min.css'>
    <link rel='stylesheet' href='lib/css/flexslider.css'>
    <link rel='stylesheet' href='lib/css/bootstrap.css'>

    <link rel='stylesheet' href='lib/css/style.css'>
    <script src='lib/js/modernizr-2.6.2.min.js'></script>
  </head>
  <body>
    <div id='website'>
    </div>
    <script src='lib/js/jquery.min.js'></script>
    <script src='lib/js/jquery.easing.1.3.js'></script>
    <script src='lib/js/bootstrap.min.js'></script>
    <script src='lib/js/moment.js'></script>
    <script src='lib/js/bootstrap-datetimepicker.min.js'></script>
    <script src='lib/js/jquery.waypoints.min.js'></script>
    <script src='lib/js/jquery.stellar.min.js'></script>
    <script src='lib/js/jquery.flexslider-min.js'></script>
    <script src='lib/js/main.js'></script>
    <script>
        $(function () {
           $('.date-time').datetimepicker();
        });
    </script>
  </body>
</html>
